<h1>Container Class</h1>
<p>
    <img src="images/corgi.png" alt="corgi" style="width:70px; height:70px;">
    {{post.quote}}
</p>
<p>Repository <a href="https://github.com/inirudy/containercourse">https://github.com/inirudy/containercourse</a></p>